<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Finance Tracker</title>
    <!-- <link rel="stylesheet" href="/finance-tracker/static/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <main>
            <header>Personal Finance Tracker</header>
            <section id="budget-overview">
                <h2>Budget Overview</h2>
                {% if over_budget_warning %}
                    <div style="color: red; font-weight: bold; margin-bottom: 10px;">
                        You have exceeded your budget!
                    </div>
                {% endif %}
                <p>Total Budget: Rs. {{ total_budget }}</p>
                <p>Total Expenses: Rs. {{ total_budget - remaining_balance }}</p>
                <p>Remaining Balance: Rs. {{ remaining_balance }}</p>
                <button onclick="location.href='/set-budget'">Set/Update Budget</button>

                <form action="/reset-budget" method="POST">
                    <button type="submit">Reset Budget</button>
                </form>
            </section>
            
            <section id="recent-expences">
                <h2>Recent Expenses</h2>
                <ul>
                    {% if expenses %}
                        {% for expense in expenses %}
                            <li style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; border-radius: 5px; background-color: #f9f9f9;">
                                <p><strong>Name:</strong> {{expense['name']}} </p>
                                <p><strong>Amount:</strong> {{expense['amount']}}</p>
                                <p><strong>Category:</strong> {{expense['category']}}</p>
                                <p><strong>Description:</strong> {{expense['description']}}</p>
                                <p><strong>Date:</strong> {{expense['date']}}</p>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>No expenses added yet for today.</li>
                    {% endif %}
                </ul>
            </section>
            <button onclick="location.href='add-expense'">Add Expense</button>
            <button onclick="location.href='/view-expenses'">View All Expenses</button>
    </main>
</body>
</html>